@import "./variables.scss";

@mixin actionHover {
  box-shadow: none;
  transition: box-shadow 200ms;

  &:hover {
    box-shadow: shadow();
  }

  &:active {
    box-shadow: none;
  }
}

@mixin container {
  display: flex;
  width: 100%;
}

@mixin box {
  display: inline-flex;
  flex-grow: 1;
  margin: 1rem;
  padding: 2rem;

  border-radius: 1rem;
  background: white;
}

@mixin shadow {
  box-shadow: 0 0 5px #333;
}

@mixin shadow-top {
  box-shadow: 0 -5px 5px -5px #333;
}

@mixin shadow-right {
  box-shadow: 5px 0 5px -5px #333;
}

@mixin shadow-bottom {
  box-shadow: 0 5px 5px -5px #333;
}

@mixin shadow-left {
  box-shadow: -5px 0 5px -5px #333;
}

@mixin absoluteCentered($width) {
  position: absolute;
  left: absoluteCenterMargin($width);
  // right: absoluteCenterMargin($width);
  width: $width;
}
