@import "./variables.scss";

@mixin actionHover {
  cursor: pointer;
  box-shadow: none;
  border: none;
  outline: none;
  transition: box-shadow 200ms;

  &:hover {
    box-shadow: shadow();
  }

  &:active {
    box-shadow: none;
  }
}

@mixin container {
  display: flex;
  width: 100%;
}

@mixin header-static-top-left {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
}

@mixin box {
  display: inline-flex;
  flex-grow: 1;
  margin: 1rem;
  padding: 3rem;
  border-radius: 1rem;
  background: white;

  @include shadow;

  @media screen {
    padding: 3rem 5%;
  }
}

@mixin shadow {
  box-shadow: 0 0 5px #333;
}

@mixin shadow-top {
  box-shadow: 0 -5px 5px -5px #333;
}

@mixin shadow-right {
  box-shadow: 5px 0 5px -5px #333;
}

@mixin shadow-bottom {
  box-shadow: 0 5px 5px -5px #333;
}

@mixin shadow-left {
  box-shadow: -5px 0 5px -5px #333;
}

@mixin absoluteCentered($width) {
  position: absolute;
  left: absoluteCenterMargin($width);
  // right: absoluteCenterMargin($width);
  width: $width;
}
