$header-size: (
  _default: 2rem
);

$baby-blue: rgb(152, 233, 255);
$light-blue: rgba(114, 224, 255, 0.673);
$gray-light: rgb(106, 106, 106);
$gray: rgb(72, 72, 72);
$light-teal: rgb(130, 255, 232);
$pink: rgb(255, 231, 251);
$purple: rgb(55, 10, 106);
$red-soft: rgba(255, 179, 167, 0.673);
$pink-soft: rgb(255, 231, 251);
$blue-strong: rgb(38, 139, 255);

$color: (
  primary: $red-soft,
  secondary: $blue-strong,
  _light-blue: rgba(114, 224, 255, 0.673),
  _gray-light: rgb(106, 106, 106),
  text: $gray !important,
  _light-teal: rgb(130, 255, 232),
  _pink: rgb(255, 231, 251),
  _purple: rgb(55, 10, 106)
);

$pascal: (
  _baby-blue: rgba(195, 242, 255, 0.83)
);

$shadow: (
  _header: 0.03rem 0.03rem 0.1rem $gray,
  _text: 0.01rem 0.01rem 0.1rem $gray-light
);

$baseline-width: 415px;
$box-shadow: (
  _light: 0px 0px 5px -1px
);
