$nav-width: 10rem;

.container {
  display: flex;
  width: 100%;

  .navContainer {
    display: inline-block;
    width: $nav-width;

    .header {
      display: flex;
      font-size: 1rem;
    }

    .sideNav {
      display: inline-flex;
      flex-direction: column;

      .page {
        box-shadow: shadowBottom(), shadowRight();
        flex: 1;

        &:first-child {
          border-top-right-radius: 1rem;
          box-shadow: shadowTop(), shadowRight();
          flex: 1;
        }
        &:last-child {
          border-bottom-right-radius: 1rem;
        }
        // border-right: 1px solid $gray-light;
        padding: 0.25rem 1.5rem;

        transition: background-color 200ms;

        &:hover {
          background-color: rgb(232, 232, 232);
        }
      }
    }
  }

  .box {
    margin-right: $nav-width;
  }
}
