$nav-width: 10rem;

.container {
  display: flex;
  width: 100%;

  .navContainer {
    display: inline-block;
    width: $nav-width;

    .header {
      display: flex;
      font-size: 1rem;
    }

    .sideNav {
      display: inline-flex;
      flex-direction: column;
      box-shadow: shadow();
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;

      .page {
        background-color: rgb(232, 232, 232);
        flex: 1;

        &:first-child {
          border-top-right-radius: 1rem;

          flex: 1;

          border-bottom: 1px solid rgba(128, 128, 128, 0.5);
          border-top: none;
        }
        border-top: 1px solid rgba(128, 128, 128, 0.5);
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
        &:last-child {
          border-top: 1px solid rgba(128, 128, 128, 0.5);
          border-bottom: none;
          border-bottom-right-radius: 1rem;
        }
        // border-right: 1px solid $gray-light;
        padding: 0.25rem 1.5rem;

        transition: background-color 200ms;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .box {
    margin-right: $nav-width;
  }
}
