.login {
  position: relative;
  .innerContainer {
    display: flex;
    flex-flow: column;
    margin: 1rem auto;
    text-align: center;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  button {
    height: 3rem;
    width: 15rem;
    font-size: 1.2rem;
  }
}
