.login {
  background-color: pullHospitalBackground("primary");
  position: relative;
  .innerContainer {
    display: flex;
    flex-flow: column;
    margin: 2rem auto;
    text-align: center;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
