.routerComponentFillParent {
  > div:first-child {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}
.appSize {
  width: 1366px;
  margin: 0 auto;
  box-shadow: shadowLeft(), shadowRight();
}
.site {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: auto;
  box-sizing: border-box;

  background: rgb(198, 248, 255);
}
.text {
  color: pullColor("text");
  text-shadow: pullShadow("soft") !important;

  &:hover {
    text-decoration: none !important;
  }
}
.loader {
  background-color: pullHospitalBackground("primary");

  > div:first-child {
    @include absoluteCentered(0);

    top: 40%;
  }
}

* {
  @extend .text;
}
html {
  @extend .site;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @extend .appSize;

  // make all Route containers fill webpage
  @extend .routerComponentFillParent;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
