body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.base {
  display: flex;
  color: map-get($color, "_gray");
  background-color: map-get($color, "_baby-blue");
  text-shadow: map-get($shadow, "_text");
  height: 100vh;
}

html {
  @extend .base;
}

.App {
  // @extend .base;
  text-align: center;
}

* {
  box-sizing: border-box;
}
