body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // make all Route containers fill webpage
  width: 1366px;
  margin: 0 auto;
  box-shadow: shadowLeft();

  > div:first-child {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;

  margin: auto;
  box-sizing: border-box;
}
.loader {
  background-color: pullHospitalBackground("primary");

  > div:first-child {
    @include absoluteCentered(0);

    top: 40%;
  }
}

.text {
  color: pullColor("text");
  text-shadow: pullShadow("soft") !important;

  &:hover {
    text-decoration: none !important;
  }
}

html {
  @extend .app;
  background: rgb(198, 248, 255);
}

* {
  @extend .text;
}
