.button {
  @extend .actionHover;
  background-color: $blue-strong;
  border-radius: 1rem;
  color: $pink-soft !important;
  opacity: 1;
  text-align: center;
  text-transform: none;
}

.small {
  @extend .button;

  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
  width: 30%;

  min-width: 3.75rem;
}
