.button {
  @extend .actionHover;
  background-color: map-get($color, "_pink");
  border-radius: 1rem;
  color: map-get($color, "_gray");
  opacity: 1;
  text-align: center;
  text-transform: none;
}

.small {
  @extend .button;

  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
  width: 30%;

  min-width: 3.75rem;
}
