.tools {
  background-color: pullToolsBackground("primary");
}

.buttonContainer {
  display: flex;
  justify-content: center;

  padding: 0;
}

.contentContainer {
  @include container;

  p {
    display: block;
    margin: 0;
  }

  height: 35rem;
}
