$header_border_color: map-get($color, "_purple");
$header_shadow: map-get($shadow, "_header");
$header_size: map-get($header-size, "_default");

.header {
  text-align: center;
  font-size: $header_size;
  text-shadow: $header_shadow;
  margin: 0rem;
}

.left {
  @extend .header;
  padding: 0rem 2rem;

  text-align: left;
}

.round {
  @extend .header;
  border-radius: 50%;
}

.inner {
  border-bottom: 0.5rem solid $header_border_color;
}
