.loader {
  @include absoluteCentered(0);

  top: 40%;
}

.header {
  @include header-static-top-left;

  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgb(237, 237, 237);
  padding: 0.5rem 2rem;
  box-shadow: 5px 5px 15px -10px #333;
}

.form {
  div {
    width: 100%;
  }
  display: flex;
  height: 8rem;
  justify-content: space-between;
  padding: 1rem 0;

  .baseContainer {
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: space-around;
  }
  .inputContainer {
    @extend .baseContainer;

    flex: 3;

    > div {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
    label {
      flex: 2;
    }
    .select {
      border-radius: 0.75rem;
      > div {
        padding: 0.75rem;
      }
    }
    .input {
      input {
        width: 100%;
      }
      flex: 1;
      display: inline-flex;
    }
  }

  .controllerContainer {
    @extend .baseContainer;
    flex: 1;

    .submit {
      border-radius: 3rem;
      height: 3rem;
    }

    .clear {
      margin: 0 auto;
      width: 6rem;
      background-color: $purple-dark;
    }
  }
}

.table {
  overflow-y: auto;
  height: 20rem;
  border: 1px solid silver;
}

.dataTable {
  display: flex;
  justify-content: space-evenly;
  height: 100%;

  > div {
    box-shadow: shadow();
    flex: 1;
    flex-flow: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    background: $baby-blue-light;

    .head {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 700 !important;
    }

    .data {
      > div {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;

        > div:first-child {
          font-weight: bold;
        }
      }
    }
  }
}
