.loader {
  @include absoluteCentered(0);

  margin-top: 5rem;
}

.header {
  @include header-static-top-left;

  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgb(237, 237, 237);
  padding: 0.5rem 2rem;
  box-shadow: 5px 5px 15px -10px #333;
}

.form {
  div {
    width: 100%;
  }
  display: flex;
  height: 10rem;
  justify-content: space-between;
  padding: 1rem 0;

  .baseContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }
  .inputContainer {
    @extend .baseContainer;

    flex: 3;

    > div {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
    label {
      flex: 2;
    }
    .input {
      input {
        width: 100%;
      }
      flex: 1;
      display: inline-flex;
    }
  }

  .controllerContainer {
    @extend .baseContainer;
    flex: 1;

    .submit {
      border-radius: 3rem;
      height: 3rem;
    }

    .clear {
      margin: 0 auto;
      width: 6rem;
      background-color: rgb(99, 2, 255);
    }
  }
}

.table {
  overflow-y: auto;
  height: 20rem;
  border: 1px solid silver;
}
