@use "variables";

.sideBar {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0rem;

  .link {
    flex: 1;
    border-right: 1px solid map-get($color, "_gray-light");
    border-bottom: 1px solid rgba(map-get($color, "_gray-light"), 0.1);
    border-radius: none;
    padding: 0.25rem 1rem;
    width: 8rem;

    transition: border-radius 200ms, padding 100ms, width 100ms;

    &:first-child {
      border-top-right-radius: 5px;
      border-top: 1px solid $gray-light;
    }
    &:last-child {
      border-bottom-right-radius: 5px;
      border-bottom: 1px solid variables.$baby-blue;
    }

    &:hover {
      padding: 0.4rem 1rem;
      width: 8.1rem;
    }
  }
}

.left {
  @extend .sideBar;
}
